* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Brain";
  src: local("Brain"), url(./../multimeia/fonts/Iron\ &\ Brine.ttf);
}
@font-face {
  font-family: "Cocomat";
  src: local("Cocomat"), url(./../../multimeia/fonts/Cocomat\ Light-trial.ttf);
}
.btn-primary {
  font-weight: bold;
  letter-spacing: 3px;
  background-color: #191919;
  border-radius: 5px;
  border: 1px solid #191919;
}
.btn-primary:hover {
  background-color: #fdd41a;
  border: 1px solid #191919;
  color: #191919;
}

#liveToastBtn {
  background-color: #191919;
  color: #eee;
  border: #191919;
  transition: 0.5s;
}
#liveToastBtn:hover {
  background-color: #727171;
}

.navbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar .container-fluid {
  background-color: #fdd41a;
}
.navbar .container-fluid #crearCart {
  display: flex;
  gap: 15px;
}
.navbar .container-fluid #crearCart p {
  margin: 0;
}
.navbar .container-fluid img {
  width: 35px;
  height: 35px;
}
.navbar .container-fluid span {
  font-family: "Cocomat";
  font-weight: bold;
}
.navbar .container-fluid .cliente {
  margin-right: 50px;
}
.navbar .container-fluid .boton_cart {
  margin-right: 20px;
}
.navbar .container-fluid .nav-item {
  font-size: 20px;
  font-family: "Cocomat";
  font-weight: bold;
}
.navbar .container-fluid .nav-item:hover {
  box-shadow: rgba(68, 64, 64, 0.6117647059);
}
.navbar .container-fluid .nav-item:hover a {
  color: #fff;
}
.navbar .navbar-brand {
  font-family: "Brain";
  font-size: 30px;
}

footer {
  background-color: rgb(26, 23, 23);
}
footer a {
  color: white;
}
footer img {
  width: 150px;
  height: 150px;
}
footer svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

@keyframes entradaSalidaLeft {
  0% {
    transform: translateX(200px);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(300px);
  }
  100% {
    display: none;
  }
}
.popUpAgregado {
  animation-name: entradaSalidaLeft;
  animation-iteration-count: initial;
  animation-delay: 1.5s;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

#modalForm .modal-dialog .modal-body {
  background-color: rgba(17, 7, 7, 0.767);
  color: #eee;
}
#modalForm .modal-dialog .modal-body label {
  padding-left: 5px;
}
#modalForm .modal-dialog .modal-body input {
  box-shadow: none;
  margin-bottom: 10px;
}
#modalForm .modal-dialog .modal-body #inputAddress {
  width: 50%;
}

.mainIndex {
  gap: 50px;
  overflow: hidden;
  font-family: "Cocomat";
}
.mainIndex .carousel {
  height: 90vh;
}
.mainIndex .carousel #imgElec {
  background-image: url(./multimeia/imgs/electricidad.jpg);
}
.mainIndex .carousel .carousel-item {
  height: 90vh;
}
.mainIndex .carousel .carousel-item img {
  min-height: 90vh;
  object-fit: cover;
}
.mainIndex .carousel .carousel-item .carousel-caption {
  backdrop-filter: blur(5px);
  border-radius: 50px;
  box-shadow: #191919;
}
.mainIndex .carousel .carousel-item h5 {
  font-size: 30px;
  font-weight: bold;
}
.mainIndex .carousel .carousel-item h5 a {
  all: unset;
}
.mainIndex .carousel .carousel-item h5 a:hover {
  color: #191919;
  cursor: pointer;
}
.mainIndex .carousel .carousel-item p {
  font-size: 20px;
  font-weight: 600;
}
.mainIndex .carousel .sanitario h5 {
  color: #191919;
}
.mainIndex .carousel .sanitario p {
  color: #191919;
}
.mainIndex .carousel .hogar h5 {
  color: #191919;
}
.mainIndex .carousel .hogar p {
  color: #191919;
}
.mainIndex .fondo {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  position: absolute;
  right: 10vw;
  top: 25vh;
}
.mainIndex ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 25px;
  margin-bottom: 50px;
  font-weight: bold;
}

.mainProductos {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.521), rgba(253, 253, 253, 0.466)), url(./../multimeia/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.objetos_carro {
  margin: 10px 0;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.objetos_carro:hover {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.75);
}
.objetos_carro img {
  width: 40px;
  height: 40px;
}
.objetos_carro p button {
  margin: 10px;
}

.boton_cart {
  margin-left: 10px;
  border: 2px solid #191919;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  background-color: #fdd41a;
  z-index: 2;
}
.boton_cart :hover {
  background-color: rgba(253, 211, 26, 0.8078431373);
}

.collapse .form-control:focus {
  box-shadow: none;
}
.collapse .cliente p {
  margin-bottom: 0;
  font-weight: bold;
}

main {
  position: relative;
  display: flex;
}
main .container-ferre {
  width: 280px;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
main .container-ferre .cardo {
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 2px 3px rgba(0, 0, 0, 0.38);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  justify-content: center;
}
main .container-ferre .cardo:hover {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.75);
}
main .container-ferre .cardo img {
  width: 100%;
  height: 220px;
  border-bottom: 1px solid #191919;
  object-fit: contain;
  background-color: #fff;
  filter: blur(0.5px);
}
main .container-ferre .cardo img:hover {
  filter: blur(0);
}
main .container-ferre .cardo h2 {
  font-weight: 600px;
  padding: 10px 0 3px 0;
  font-size: 22px;
}
main .container-ferre .cardo p {
  padding: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
main .container-ferre .cardo button {
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #fdd41a;
  margin-bottom: 8px;
}
main .container-ferre .cardo button:hover {
  background-color: rgba(253, 211, 26, 0.8078431373);
}
main .marcas {
  height: auto;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
}
main .marcas img {
  margin: 0 10px;
  padding: 10px 0;
  height: 50px;
}
main #carro .objetos_carro {
  display: flex;
  align-items: center;
  gap: 20px;
}
main #carro p {
  font-size: 18px;
  margin: 0;
}
main #totalCarro {
  background-image: linear-gradient(#191919, #191919);
  background-size: 50%;
  background-position: 0 5%;
  padding-left: 10px;
}
main #totalCarro h2 {
  font-size: 25px;
  color: #fff;
  padding: 5px 0;
}
main .offcanvas {
  width: 10vw;
}
main .offcanvas .offcanvas-header {
  background-image: linear-gradient(135deg, #fdd41a, #fdd41a, black);
}
main .offcanvas .offcanvas-header .btn-close {
  color: #eee;
}
main .offcanvas .offcanvas-body {
  width: 100%;
  background-image: linear-gradient(135deg, rgb(126, 117, 117), black);
}
main .offcanvas .offcanvas-body #filtros {
  margin-top: 2vh;
}
main .offcanvas a:hover {
  background-color: rgba(253, 211, 26, 0.5137254902);
}
main #button_prod {
  height: 50px;
  position: fixed;
  top: 25vh;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: auto;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: #191919;
  border-radius: 0 5px 5px 0;
  border: 1px solid #191919;
}
main #button_prod:hover {
  background-color: #fdd41a;
  border: 1px solid #191919;
  font-weight: bold;
}
main .right {
  width: 85vw;
  min-height: 85vh;
}
main .right .row form {
  width: 40vw;
}
main .right .row form input {
  margin-bottom: 3px;
  box-shadow: none;
}
main .right .row form #submit {
  margin-top: 5px;
}
main .scroll_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 10px;
}
main .scroll_container svg {
  color: #eee;
  padding: 5px;
  border-radius: 5px;
  position: sticky;
  top: 88vh;
  cursor: pointer;
  font-size: 20px;
  color: #eee;
  background-color: red;
}
main .scroll_container svg:hover {
  color: blue;
  background-color: #eee;
}
main .scroll_container::before {
  content: "";
  display: block;
  height: 100vh;
  pointer-events: none;
}

.accoridion {
  background-color: yellow;
  --bs-accordion-active-bg: yellow;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(255, 208, 0, 0.603);
}

.accordion-button {
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  margin: 0;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:active {
  background-color: #fdd41a;
}
.accordion-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  background-color: rgb(255, 0, 64);
  transition: 0.5s all ease-in-out;
}
.accordion-button::before {
  background-color: #fdd41a;
}
.accordion-button:hover::before {
  border-radius: 0 50px 50px 0;
  width: 110%;
  z-index: -1;
}
.accordion-button:focus {
  background: none;
  box-shadow: none;
}
.accordion-button a {
  display: block;
  padding: 10px 20px;
  color: #191919;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  .boton_cart {
    margin: 8px 0;
  }
  #crearCart {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  main #button_prod {
    top: 60vh;
    writing-mode: horizontal-tb;
  }
  #infoCliente {
    margin: 10px 0 0 0;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .modal-body .objetos_carro {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
  }
}
@media only screen and (max-width: 768px) {
  .container-ferre {
    width: 240px;
  }
  .container-ferre .cardo {
    width: 10rem;
    margin-right: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
