@media only screen and (max-width: 992px){
    .boton_cart{
        margin: 8px 0;
    }

    main{
        #button_prod{
            top: 40vh;
        }
    }
    #infoCliente{
        margin: 10px 0 0 0;
    }    
    
}

@media only screen and (max-width: 576px){
    
}