@keyframes entradaSalidaLeft {
    0% {transform: translateX(200px);}

    50% {transform: translateX(0);}

    80% {transform: translateX(300px);}

    100% {display: none;}
}

.popUpAgregado{
    animation-name: entradaSalidaLeft;
    animation-iteration-count: initial;
    animation-delay: 1.5s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}