footer{
    background-color: rgb(26, 23, 23);
    
    a{
        color: white;
    }
    img{
        width: 150px;
        height: 150px;
    }
    svg{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}