.btn-primary{
    font-weight: bold;
    letter-spacing: 3px;
    background-color: #191919;
    border-radius: 5px;
    border: 1px solid #191919;
    &:hover{
        background-color: $colorAma;
        border: 1px solid #191919;
        color: #191919;
}
}